a {
    text-decoration: none;
}
body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}
/* NAVBAR STYLE */
.navbar {
    
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;

}
.navContainer {
    position: fixed;
    width: 100%;
    background-color: white;
}
/*NAVBAR Derecha*/
.navbar ul {

    padding-left: 0px;
    list-style: none;
    display: flex;

}

.navbar ul li {
    padding: 0px 10px;
   
}

/* ABOUT SECCION */

#about {
    /* background-color: rgba(172, 210, 166, 0.50); */
    height: 100vh;
    display: flex;
    justify-content: center;
}
.aboutInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.aboutInfo p {
    max-width: 800px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#dynamicH1 {
    color: darkslateblue;
    margin-left:  16px;
}
.dynamic {
    display: flex;
    align-items: center;
}

.textInfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textInfoContainer button {
        width: 120px;
        height: 40px;
        cursor: pointer;
        background: none;
        transition: .5s;
        font-size: 16px;
        border-radius: 5px;
        font-family: "Lato",sans-serif;
        margin-top: 40px;
}


.textInfoContainer button:hover{
    background-color: #5e5594;
    border: none;
    color: white;

    transform:scale(1.1);
  }
/* ANIMATION  pipe*/
#rayita {
    padding: 0 4px;
}
.parpadea {
    animation-name: parpadeo ;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

#upBtn {
    
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 999;
    cursor: pointer;
} 

#upBtn i {
    padding-top: 6px;
    font-size: 28px;
}

/*   MOBILE   */

@media screen and (max-width: 600px) {

    .aboutInfo {
        flex-direction: column;
    }
    
}
